[submodule ".deps/zephyr/zephyr"]
	path = .deps/zephyr/zephyr
	url = https://github.com/Swamy-BV/zephyr.git
	branch = development
[submodule ".deps/cannectivity"]
	path = .deps/cannectivity
	url = https://github.com/Swamy-BV/cannectivity.git
	branch = development
